# Copyright 2026 The MathWorks, Inc.

terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/.terraform.tfstate.lock.info
terraform/terraform.tfstate.backup
terraform/terraform.tfstate
terraform/values-override-*.yaml
**/values-override-*.yaml

**/profile.json
**/*.tgz